<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p>
  One of your friend, <%= @sender_name %>  Testing this email
</p>

<p> check at: <%= article_url @article, host: 'localhost:3000' %></p>
</body>
</html>